.home-screen {
  .header {
    padding: 15px;
    background-color: #ebeae6;
    display: flex;
    justify-content: space-between;
  }
  .primary {
    position: relative;
    .slider {
      .slick-list {
        height: 250px;
      }
      max-width: 900px;
      height: 240px;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: transparent;
    }
  }
}