* {
  margin: 0;
  padding: 0;
}
.toast-message {
  position: fixed;
  top: 10%;
  right: 5%;
  background-color: greenyellow;
  padding: 20px;
  border-radius: 10px;
}
.gallery-hidden {
  display: none;
}
.container {
  position: relative;
  .box {
    margin-right: 10px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: space-between;
    height: 235px;
    &__info {
      display: flex;
      align-items: center;
      padding: 20px;
      padding-bottom: 0;
      &-image {
        width: 100%;
        flex: 1;
      }
      &-text {
        padding-left: 8px;
        flex: 2;
        .title {
          font-size: 14px;
        }
        .address {
          padding-top: 10px;
          font-size: 12px;
        }
        .rating {
          padding-top: 15px;
          font-weight: 600;
          font-size: 14px;
        }
        .design {
          font-size: 12px;
        }
      }
    }
    .button-container {
      width: 90%;
      padding-bottom: 10px;
      .button {
        width: 100%;
        background: #f7941d;
        color: #ffffff;
        padding: 10px;
        border: none;
      }
    }
  }
}